@import "tailwindcss";

/* Añade estas nuevas reglas de animación */
@keyframes marquee {
  from {
    transform: translateX(130%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 45s linear infinite;
}